.idea
data
.DS_Store

**/*.pyc

saved_models
local_data
not_convert_csv
ensemble_result
raw_data
enhanced_data
small_data
verification_models
sample_data
enhanced_sample_data
raw_sample_data
waifu_sample_data
ensemble_source
ensemble_source_bak